@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background: #1B1B1B;
    font-family: 'Roboto', sans-serif;
}

.mainLogin {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

.animationdiv {
    display: flex;
    justify-content: center;
    margin-bottom: -35px;
}

.loginImage {
    width: 350px;
}

.loginSection {
    width: 250px;
    height: 200px;
    text-align: center;
    padding: 25px;
    color: white;
}

@media screen and (min-width: 500px){
    .loginSection {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 15%;
    }
}

.loginSection h1 {
    font-size: 3.0em;
}

.loginSection form {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.loginSection form input {
    padding: 13px 15px;
    margin: 10px;
    width: 280px;
    border-radius: 50px;
    font-size: 14px;
    border: none;
}

#buttonSubmit {
    padding: 13px 15px;
    margin: 10px;
    width: 280px;
    border-radius: 50px;
    background: #09A9E2;
    color: #1c1c1c;
    font-weight: 500;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

#buttonSubmit:disabled {
    background: grey;
    cursor: default;
}

.userLoged {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.userLoged p {
    background: #09A9E2;
    padding: 5px;
    font-size: 1rem;
    border-radius: 50px;
    color: #1c1c1c;
}