@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.divUser {
    display: flex;
    justify-content: flex-end;
}

.user {
    color: #1c1c1c;
}

.painelStyle {
    background: rgb(28, 28, 28);
    color: white;
    margin: 5% 20%;
    padding: 10px;
    border-radius: 12px;
    box-shadow:  1px 1px 20px rgb(255, 121, 101, .5),
             -1px -1px 20px rgb(255, 121, 101, .5);
}

@media screen and (min-width: 0px) and (max-width: 800px){
    .painelStyle {
        background: #1c1c1c;
        color: white;
        margin: 12% 5%;
        padding: 10px;
    }
}

.painelStyle h1 {
    margin: 0px 0px 20px 0px;
}

table {
    padding: 10px;
    width: 100%;
    border-collapse: collapse;
}

.exibeAction {
    overflow: auto;
    white-space: nowrap;
}

.titles {
    background: #FF7965;
    color: rgb(28, 28, 28);
}

.titles th:first-child {
    border-radius: 8px 0px 0px 8px;
}

.titles th:last-child {
    border-radius: 0px 8px 8px 0px;
}

.btnSection {
    display: flex;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
}

.btnSection button {
    padding: 10px;
    border: none;
    width: 120px;
    border-radius: 5px;
    margin: 5px;
    font-size: 1rem;
}

.buy {
    background: #79B2E9;
}

.sell {
    background: #77dd77;
}

.sell:disabled {
    background: grey;
    cursor: default;
}

.divInput1 input {
    height: 40px;
    width: 180px;
    border-radius: 5px;
    border: none;
}

.divInput2 input {
    height: 40px;
    width: 180px;
    border-radius: 5px;
    border: none;
}

.saldo {
    background: #FF7965;
    display: inline-block;
    font-weight: 800;
    padding: 10px;
    margin: 0px 0px 20px 0px;
    font-size: 1rem;
    border-radius: 50px;
    color: #1c1c1c;
}

.btnConfirmBack {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.btnConfirmBack button {
    border: none;
    background: #FF7965;
    margin: 5px;
    padding: 12px;
    font-weight: 500;
    color: #1c1c1c;
    border-radius: 5px;
    width: 150px;
    font-size: 1rem;
    cursor: pointer;
}

/* .divInput1 input::-webkit-outer-spin-button,
.divInput1 input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.divInput1 input[type=number]{
    -moz-appearance: textfield;
}

.divInput2 input::-webkit-outer-spin-button,
.divInput2 input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.divInput2 input[type=number]{
    -moz-appearance: textfield;
} */
