.btnTransferSection {
    display: flex;
    width: 100%;
    justify-content: center;
}

#btnTransferDepo {
    background: #77dd77;
    border: none;
    width: 150px;
    margin: 10px;
    padding: 10px;
    opacity: 0.9;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
}

#btnTransferDepo:hover {
    opacity: 1;
}

#btnTransferSaque {
    background: #79B2E9;
    border: none;
    width: 150px;
    margin: 10px;
    padding: 10px;
    opacity: 0.9;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
}

#btnTransferSaque:hover {
    opacity: 1;
}

.inputConfirm {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inputTransferValue {
    margin-top: 10px;
    width: 300px;
    border-radius: 8px;
    border: none;
    height: 40px;
}

@media screen and (min-width: 0px) and (max-width: 500px) {
    .inputTransferValue {
        margin: 10px;
        width: 95%;
        border: none;
        height: 40px;
    }
}